VOLUME_MOUNT_PATH=/home/<YOUR_LOGIN>/data

# Domain
DOMAIN_NAME=<YOUR_LOGIN>.42.<COUNTRY>

PENULTIMATE_ALPINE_STABLE_VERSION=3.22
PENULTIMATE_DEBIAN_STABLE_VERSION=bookworm-slim

# MySQL Setup
# Wordpress Database
MYSQL_DATABASE=wp_db
MYSQL_KUMA_DATABASE=kuma
MYSQL_KUMA_USER=
MYSQL_KUMA_PASSWORD=

# We will use this later for WordPress
PHP_VERSION=8.2
MARIADB_VERSION=1:10.11.14-0+deb12u2
NGINX_VERSION=1.28.2-r0

SITE_TITLE=inception_site
WP_ADMIN_EMAIL=
WP_USER_EMAIL=

# Secret files
MYSQL_USER_FILE=/run/secrets/db_credentials
MYSQL_PASSWORD_FILE=/run/secrets/db_password
MYSQL_ROOT_PASSWORD_FILE=/run/secrets/db_root_password
WP_ADMIN_FILE=/run/secrets/wp_admin_credentials
WP_ADMIN_PASSWORD_FILE=/run/secrets/wp_admin_password
WP_USER_FILE=/run/secrets/wp_user_credentials
WP_USER_PASSWORD_FILE=/run/secrets/wp_user_password

FTP_USER=ftp-user
FTP_PASSWORD_FILE=/run/secrets/ftp_password